 root = true
 [*.cs]
 # Always use 4 spaces for indentation.
 indent_style = space
 indent_size = 4
 # Always prefer to use `var` when possible.
 csharp_style_var_for_built_in_types = true:warning
 # Never qualify member access with `this.` except when necessary.
 dotnet_style_qualification_for_field = false:warning
 dotnet_style_qualification_for_property = false:warning
 dotnet_style_qualification_for_method = false:warning
 dotnet_style_qualification_for_event = false:warning
 # Always use `C#` type aliases, e.g. `string` instead of `String`.
 dotnet_style_predefined_type_for_locals_parameters_members	= true:warning
 dotnet_style_predefined_type_for_member_access	= true:warning
 # Always prefer object and collection initializers.
 dotnet_style_object_initializer = true:warning
 dotnet_style_collection_initializer = true:warning
 # Always prefer expression bodied members when reasonable.
 csharp_style_expression_bodied_methods = true:warning
 csharp_style_expression_bodied_constructors = true:warning
 csharp_style_expression_bodied_operators = true:warning
 csharp_style_expression_bodied_properties = true:warning
 csharp_style_expression_bodied_indexers = true:warning
 csharp_style_expression_bodied_accessors = true:warning
 # Always include code block braces.
 csharp_prefer_braces = true:warning